extends layout

block css
  link(href='../css/cell.css', rel='stylesheet')

block content
  .container-fluid
    .row.textArea
      .col-xs-10#title
        - var name = user.username
        h1 Welcome to your Cell, #{name}
      .col-xs-2
        button.btn.btn-danger#logout Logout
  //- br
  //- br
  //- .container-fluid
  //-   .row.textArea
  //-     .col-xs-6#profile
  //-       img#avatar(src="https://index.co/uploads/lists/a981c586ee454b2f0210d64d013870dab46332c8.jpeg")
  //-       button.btn.btn-default#avatarButton Change Avatar
block js
  script(src='../js/cellMain.js')
